{{#each homePost as |post|}}
<a href="/post/{{id}}">
    <!-- shows the post by title and date created on the homepage that are clickable -->
    <header>{{title}}</header>
    <p>{{date_created}}</p>
</a>
{{/each}}